<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <%= link_to "Simple Airbnb", flats_path, class:"navbar-brand" %>
      <div class="ms-auto">
        <%= link_to "New flat", new_flat_path(@flat), class:"btn btn-outline-primary"  %>
      </div>
    </div>
  </div>
</nav>
