.navbar {
  background-color: rgb(235, 235, 235);
}

.img-fixed {
  height: 200px;
  object-fit: cover;
  width: 100%;
}

.img-fixed-full {
  height: 300px;
  object-fit: cover;
  width: 100%;
}

a {
  text-decoration: none;
}

h1 {
  margin-bottom: 16px;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
