@import url('https://api.mapbox.com/mapbox-gl-js/v3.9.4/mapbox-gl.css');

body {
  background-color: rgb(255, 252, 240);
  padding-top: 50px;
}

.navbar {
  background-color: rgb(32, 32, 32);
  color: white;
  font-size: larger;
}

.cards-banner-cover {
  position: relative;
  margin-top: -100px;
  z-index: 10;
}

.img-fixed {
  height: 200px;
  object-fit: cover;
  width: 100%;
}

.img-fixed-full {
  height: 300px;
  object-fit: cover;
  width: 100%;
}

.popup {
  max-width: 250px;
  max-height: 300px;
  overflow: auto;
  padding: 10px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.popup-image {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}
a {
  text-decoration: none;
}

h1 {
  margin-bottom: 16px;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
